.ipynb_checkpoints/
.spyproject/
__pycache__/
schroedinger/POT_ASYM/potential.dat
schroedinger/POT_ENDLICH_TIEF/potential.dat
schroedinger/POT_HARMONISCH_DOUBLE_KUBISCH/potential.dat
schroedinger/POT_HARMONISCH_DOUBLE_LINEAR/potential.dat
schroedinger/POT_HARMONISCH_SINGLE/potential.dat
schroedinger/POT_UNENDLICH_TIEF/potential.dat
testread.ipynb
schroedinger/POT_ASYM/energies.dat
schroedinger/POT_ASYM/expvalues.dat
schroedinger/POT_ASYM/wavefuncs.dat
schroedinger/POT_ENDLICH_TIEF/energies.dat
schroedinger/POT_ENDLICH_TIEF/expvalues.dat
schroedinger/POT_ENDLICH_TIEF/wavefuncs.dat
schroedinger/POT_HARMONISCH_DOUBLE_KUBISCH/energies.dat
schroedinger/POT_HARMONISCH_DOUBLE_KUBISCH/expvalues.dat
schroedinger/POT_HARMONISCH_DOUBLE_KUBISCH/wavefuncs.dat
schroedinger/POT_HARMONISCH_DOUBLE_LINEAR/energies.dat
schroedinger/POT_HARMONISCH_DOUBLE_LINEAR/expvalues.dat
schroedinger/POT_HARMONISCH_DOUBLE_LINEAR/wavefuncs.dat
schroedinger/POT_HARMONISCH_SINGLE/energies.dat
schroedinger/POT_HARMONISCH_SINGLE/expvalues.dat
schroedinger/POT_HARMONISCH_SINGLE/wavefuncs.dat
schroedinger/POT_UNENDLICH_TIEF/energies.dat
schroedinger/POT_UNENDLICH_TIEF/expvalues.dat
schroedinger/POT_UNENDLICH_TIEF/wavefuncs.dat
.cache/
schroedinger/POT_ASYM/plot.png
schroedinger/POT_ENDLICH_TIEF/plot.png
schroedinger/POT_HARMONISCH_DOUBLE_KUBISCH/plot.png
schroedinger/POT_HARMONISCH_DOUBLE_LINEAR/plot.png
schroedinger/POT_HARMONISCH_SINGLE/plot.png
schroedinger/POT_UNENDLICH_TIEF/plot.png


