.spyproject/
POT_ASYM.inp
POT_ENDLICH_TIEF.inp
POT_HARMONISCH_DOUBLE_KUBISCH.inp
POT_HARMONISCH_DOUBLE_LINEAR.inp
POT_HARMONISCH_SINGLE.inp
POT_UNENDLICH_TIEF.inp
.ipynb_checkpoints/
testread.ipynb
__pycache__/
schroedinger/POT_ASYM/potential.dat
schroedinger/POT_ENDLICH_TIEF/potential.dat
schroedinger/POT_HARMONISCH_DOUBLE_KUBISCH/potential.dat
schroedinger/POT_HARMONISCH_DOUBLE_LINEAR/potential.dat
schroedinger/POT_HARMONISCH_SINGLE/potential.dat
schroedinger/POT_UNENDLICH_TIEF/potential.dat

